@model Guid?
<div class="4u">
    <div>
        <h2 data-bind="text:message"></h2>
    </div>
    <div data-bind="visible:state()==7">
        <a asp-action="Game" class="button" target="_blank">Join another game</a>
    </div>
    @if (Model != null)
    {
        <div>
            Send your opponent this <a asp-action="Game" asp-route-token="@Model">private url</a>
            so he would join your game.
        </div>
    }
    else
    {
        <p>
            <a href="#" data-bind="visible: state() == 8, click: playWithComputer">Play with computer</a>
        </p>
    }
</div>
<div class="8u">
    <div class="board-wrapper">
        <div class="board" data-bind="foreach: board.rows">
            <div class="row" data-bind="foreach: cells">
                <div class="cell" data-bind="css: {opponent: value()==2, host: value() ==1, win: value()==5 }, click: sendMove">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            var myGame = new game('@Model');
            ko.applyBindings(myGame);
            myGame.initialize();
        });
    </script>
</div>
