@model Guid
<div class="12u">
    <section>
        <div style="text-align:center">
            <a asp-action="Game" class="button">Join a random game</a>
            <a asp-action="Game" asp-route-token="@Model" class="button">play with friends</a>
        </div>
    </section>
</div>
